dash
plotly
pandas
numpy
Flask
gunicorn
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
folium
db-dtypes
holidays
scikit-learn
scipy
dash-core-components
dash-html-components

